@use 'mixins' as mx;

$text-muted-color: $nav-child-link-color;
$text-muted-highlight-color: $body-text-color;

div.datatable-begin + div.table-wrapper {
    box-shadow: none;
}

.w-25 {
    width: 25% !important;
}
.w-40 {
    width: 40% !important;
}
.w-50 {
    width: 50% !important;
}
.w-75 {
    width: 75% !important;
}
.w-100 {
    width: 100% !important;
}

img.rounded-10 {
  border-radius: 10px !important;
}
div.rounded-10 img {
  border-radius: 10px !important;
}

td:has(.text-center) {
    text-align: center;
}

p {
    >img {
        &:not(.no-popup) {
            cursor: zoom-in;
        }
        &:not(.normal):not(.left):not(.right) {
            @include mx.align-center;
        }
        @extend %img-caption
    }
}

%img-caption {
  + em {
    display: block;
    text-align: center;
    font-style: normal;
    font-size: 80%;
    padding: 0;
    color: $text-muted-color !important;
  }
}

// Hide glightbox alt text description
div.gslide-description {
    display: none
}

.text-muted {
  color: $text-muted-color !important;
}

.post-meta {
    font-size: 0.85rem;
    span+span::before {
        @include mx.dot;
    }
    em,
    time {
        color: $text-muted-highlight-color !important;
        font-weight: 600;
    }

    em {
        a {
            color: inherit;
        }
    }
}

div.toc, h1+.post-meta {
    margin-top: 1.5rem;
}

.align-items-center {
    align-items: center !important;
}
.flex-wrap {
    flex-wrap: wrap !important;
}
.sidebar-bottom {
    padding-left: 2rem;
    padding-right: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
