{% if page.datatable == true %}
<link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.2.1/cr-2.0.4/r-3.0.3/rg-1.5.1/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.2.1/cr-2.0.4/r-3.0.3/rg-1.5.1/datatables.min.js"></script>
<!-- First, this walks through the tables that occur between ...-begin
        and ...-end and add the "datatable" class to them.
        Then it invokes DataTable's standard initializer
        Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
    -->
<script>
    $(document).ready(function(){
        const dataTableConfig = {
            responsive: true,
            columnDefs: [
                { responsivePriority: 10000, targets: -1 },
                { visible: false, responsivePriority: 10000, targets: 1 },
                { responsivePriority: 1, targets: '_all' }
            ],
            order: [[1, 'asc'], [2, 'asc']],
            rowGroup: {
                dataSrc: 1
            }
        };
        const table = $('div.datatable-begin').nextUntil('div.datatable-end').children('table');
        table.addClass('display'); 
        table.DataTable(dataTableConfig)
    });
</script>
{% endif %}