<div class="post-meta text-muted">
    <!-- published date -->
    {% if page.date %}
    <span>
    {{ site.data.locales[lang].post.posted }}
    {% include datetime.html date=page.date tooltip=true lang=lang %}
    </span>
    {% endif %}

    <!-- lastmod date -->
    {% if page.last_modified_at and page.last_modified_at != page.date %}
    <span>
    {{ site.data.locales[lang].post.updated }}
    {% include datetime.html date=page.last_modified_at tooltip=true lang=lang %}
    </span>
    {% endif %}


    <div class="d-flex flex-justify-between">
        <!-- author(s) -->
        <span>
            {% if page.author %}
            {% assign authors = page.author %}
            {% elsif page.authors %}
            {% assign authors = page.authors %}
            {% endif %}
    
            {{ site.data.locales[lang].post.written_by }}
    
            <em>
                {% if authors %}
                {% for author in authors %}
                {% if site.data.authors[author].url -%}
                <a href="{{ site.data.authors[author].url }}">{{ site.data.authors[author].name }}</a>
                {%- else -%}
                {{ site.data.authors[author].name }}
                {%- endif %}
                {% unless forloop.last %}{{ '</em>, <em>' }}{% endunless %}
                {% endfor %}
                {% else %}
                <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>
                {% endif %}
            </em>
        </span>
    
        <div id="pageviews-container" class="d-none">
            <!-- pageviews -->
            {% if site.pageviews.provider and site.analytics[site.pageviews.provider].id %}
            <span>
                <em id="pageviews">
                </em>
                {{ site.data.locales[lang].post.pageview_measure }}
            </span>
            {% endif %}
        </div>
    </div>
</div>